a, .tm-clickable {
	cursor: pointer;
}

div.error.active {
	opacity: 1;
	height: auto;
	padding: 10px;
}

div.error {
	background-color: orange;
	display: block;
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.main-section {
	padding: 50px;
	padding-top: 20px;
}

.collapseOptions-icon {
	font-size: large;
	opacity: .03;
	cursor: pointer;
}

.options > .row.well {
	margin-bottom: 0;
}

.collapseOptions-icon:hover {
	opacity: .8;
}

.work-group, .group-list-column > .group {
	background-color: rgba(255,255,255,0.85);
}

.work-group-table {
	background-color: rgba(255,255,255,0.85);
	border-radius: 3px;
	padding: 3px;
	margin-bottom: 6px;
}

.build {
	background-color: rgba(255,255,255,0.95);
}

.table tbody {
	background-color: #fff;
}