a, .tm-clickable {
	cursor: pointer;
}

div.error.active {
	opacity: 1;
	height: auto;
	padding: 10px;
}

div.error {
	background-color: orange;
	display: block;
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.main-section {
	padding: 100px;
	padding-top: 0;
}

.collapseOptions-icon {
	font-size: large;
	opacity: .4;
	cursor: pointer;
}

.options > .row.well {
	margin-bottom: 0;
}

.collapseOptions-icon:hover {
	opacity: .8;
}
