
<div ng-controller="build-monitor-controller">
    <audio src="Views/smb_gameover.wav" tm-audio="buildMonitor.failedSound" preload="auto"></audio>
    <audio src="Views/smb_coin.wav" tm-audio="buildMonitor.succeededSound" preload="auto"></audio>
    <!--<audio src="" tm-audio="buildMonitor.startSound" preload="auto"></audio>-->

    <div class="error" ng-class="{'active': !buildMonitor.connected()}" align="center">
        Uh-oh. You seem to have lost your connection with the server.
        <a ng-click="buildMonitor.connect()" ng-show="!buildMonitor.connecting()">Retry</a>
        <span ng-show="buildMonitor.connecting()" style="font-style:italic">Connecting...</span>
    </div>
    <div class="error" ng-class="{'active': buildMonitor.serverError()}" align="center">
        Shoot, the server is having trouble finding the build information in TFS. The data you see on the screen may be a bit out of date.
        (This message will disappear as soon as the server sorts its issues out. Please be patient and extend your unconditional love and support during this challenging time. Thanks.)
    </div>


    <div class="options" collapse="buildMonitor.options.collapseOptions">
        <div class="row well">
            <div class="col-sm-4">
                Sort by:
                <a ng-click="buildMonitor.sortBy('definition')">Build Definition</a> &nbsp;
                <a ng-click="buildMonitor.sortBy('finishedTime')">Completed Time</a>
            </div>
            <div class="col-sm-4">
                Group by:
                <a ng-click="buildMonitor.groupBy('project')">Project</a> &nbsp;
                <a ng-click="buildMonitor.groupBy('status')">Status</a> &nbsp;
                <a ng-click="buildMonitor.groupBy('')">None</a>
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <a ng-click="buildMonitor.startAutoScroll()" ng-show="!buildMonitor.options.autoScroll">Start</a>
                    <a ng-click="buildMonitor.stopAutoScroll()" ng-show="buildMonitor.options.autoScroll">Stop</a>
                </div>
            </div>
        </div>
    </div>
    <div align="center" ng-click="buildMonitor.toggleCollapseOptions()" class="collapseOptions-icon"><span class=" glyphicon" ng-class="buildMonitor.options.collapseOptions ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span></div>
    <div class="container-fluid">
        <div class="group-list-column" ng-show="buildMonitor.options.groupByField">
            <div class="group" ng-click="buildMonitor.selectedGroup = undefined"
                 ng-class="{'active': buildMonitor.selectedGroup === undefined}">
                <div class="group-title">All</div>
            </div>
            <div ng-repeat="group in buildMonitor.groups" class="group" ng-click="buildMonitor.selectGroup(group.name)"
                 ng-class="{'active': buildMonitor.selectedGroup === group.name, 'running': group.inProgressCount, 'failure': group.failureCount, 'success': !group.failureCount && !group.inProgressCount}">
                <div class="group-title">
                    {{group.name}}                 
                    <div class="failure pull-right" ng-show="group.failureCount">
                        <span class="glyphicon glyphicon-remove"></span><span class="group-title-details">{{group.failureCount}}</span>
                    </div>
                    <div class="running pull-right" ng-show="group.inProgressCount">
                        <span class="glyphicon glyphicon-wrench"></span> <span class="group-title-details">{{group.inProgressCount}}</span>
                    </div>
                    <!--don't show success unless there's nothing running or failed-->
                    <div class="success pull-right" ng-show="!group.failureCount && !group.inProgressCount">
                        <span class="glyphicon glyphicon-ok"></span>
                        <!--{{group.builds.length - group.failureCount - group.inProgressCount}} -->
                    </div>
                </div>
            </div>
        </div>
        <div class="table-column" ng-class="{'fill': !buildMonitor.options.groupByField}">
            <div ng-repeat="group in buildMonitor.groups  | filter : {name: buildMonitor.selectedGroup}" class="group">
                <div class="group-header" ng-show="!buildMonitor.selectedGroup">
                    {{group.name}}
                </div>

                <div ng-repeat="build in group.builds" ng-click="buildMonitor.openBuild(build)" class="build-block">
                    <div class="build" ng-class="{'failure': build.failed, 'success': build.succeeded, 'running': build.inProgress}">

                        <div class="build-definition">
                            <span class="glyphicon"
                                  ng-class="{'glyphicon-ok': build.succeeded,
                          'glyphicon-remove': build.failed,
                          'glyphicon-wrench': build.inProgress}"></span>
                            {{build.definition}}
                        </div>

                        <div>
                            <div ng-show="build.completed">
                                Completed: {{build.finishedTime | acFormatDateTime}} ({{build.runTime | tmTimeSpan }})
                            </div>
                            <div ng-show="build.inProgress">
                                Started: {{build.startTime | acFormatDateTime}} ({{build.runningTime | tmTimeSpan }})
                            </div>
                        </div>
                        <div>
                            {{build.username | acFormatUsername}}
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>

</div>

<style>
    @media all and (min-width: 1200px) {
        div.group-list-column {
            float: left;
            width: 225px;
            margin-right: 20px;
        }

        div.table-column {
            float: left;
            width: calc(100% - 225px - 20px - 5px);
        }

            div.table-column.fill {
                width: 100%;
            }

            div.table-column > div {
            }
    }

    @media all and (max-width: 1200px) {
        div.group-list-column > div {
            float: left;
            width: 225px;
            margin-right: 20px;
        }

        div.table-column {
            width: 100%;
        }

        div.group {
            height: 90px;
        }

        div.table-column > div {
            display: inline-block;
        }
    }

    div.group-list-column > div.group {
        border: 1px solid rgb(189, 180, 180);
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 10pt;
        width: 100%;
    }

        div.group-list-column > div.group.active,
        div.group-list-column > div.group:hover {
            background-color: #cbd1d7;
        }

    div.group > div.group-title {
        font-size: 13pt;
        font-weight: bold;
    }

    div.group > div > span.group-data {
        font-size: 12pt;
    }


    div.group-header {
        margin: 5px;
    }

    span.group-header {
        font-size: 16pt;
        color: black;
    }

    .build-block {
        float: left;
    }

    .group {
        display: table;
    }

    .group-header {
        font-size: large;
    }

    .build {
        /*float: left;*/
        width: 300px;
        border: 1px solid gray;
        border-radius: 4px;
        margin: 0 20px 20px 0;
        padding: 5px;
        cursor: pointer;
    }

        .build:hover {
            background-color: lightblue;
        }


        /*.group.success, .group.running  , .group.failure */

        /*the order here matters - red overrules blue, which overrules green*/
        .build.success {
            border-color: green !important;
        }

        .build.running {
            border-color: blue !important;
        }

        .build.failure {
            border-color: red !important;
        }

        .build.success > .build-definition, .group-title > .success {
            color: green;
        }

        .build.running > .build-definition, .group-title > .running {
            color: blue;
        }

        .build.failure > .build-definition, .group-title > .failure {
            color: red;
        }

    .group-title-details {
        font-size: 9pt;
        margin-left:-5px;        
    }

    .build-definition {
        font-size: large;
    }
</style>