<div ng-controller="work-monitor-controller">
    <div class="error" ng-class="{'active': !workMonitor.connected()}" align="center">
        Uh-oh. You seem to have lost your connection with the server.
        <a ng-click="workMonitor.connect()" ng-show="!workMonitor.connecting()">Retry</a>
        <span ng-show="workMonitor.connecting()" style="font-style:italic">Connecting...</span>
    </div>
    <div class="error" ng-class="{'active': workMonitor.serverError()}" align="center">
        Shoot, the server is having trouble finding the work item information in TFS. The data you see on the screen may be a bit out of date.
        (This message will disappear as soon as the server sorts its issues out. Please be patient and extend your unconditional love and support during this challenging time. Thanks.)
    </div>
    <div class="options" collapse="workMonitor.options.collapseOptions">
        <div class="row well">
            <div class="col-sm-4">
                Sort by:
                <a ng-click="workMonitor.sortBy('project')">Project</a> &nbsp;
                <a ng-click="workMonitor.sortBy('state')">State</a> &nbsp;                
                <a ng-click="workMonitor.sortBy('assignee')">Assignee</a>
            </div>
            <div class="col-sm-4">
                Group by:
                <a ng-click="workMonitor.groupBy('project')">Project</a> &nbsp;
                <a ng-click="workMonitor.groupBy('state')">State</a> &nbsp;
                <a ng-click="workMonitor.groupBy('assignee')">Assignee</a> &nbsp;
                <a ng-click="workMonitor.groupBy('')">None</a>
            </div>
        </div>
    </div>
    <div align="center"><span ng-click="workMonitor.toggleCollapseOptions()" class="collapseOptions-icon glyphicon" ng-class="workMonitor.options.collapseOptions ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span></div>
    <div class="container-fluid">
        <div>
            <div class="work-group-list-column">
                <div class="work-group" ng-click="workMonitor.selectedGroup = undefined"
                     ng-class="{'active': workMonitor.selectedGroup === undefined}">
                    <div class="work-group-title">All</div>
                </div>
                <div ng-repeat="group in workMonitor.groups" class="work-group" ng-click="workMonitor.selectedGroup = group.name; workMonitor.groupCollapse[group.name] = false"
                     ng-class="{'active': workMonitor.selectedGroup === group.name}">
                    <div class="work-group-title">{{group.name}}</div>
                    <div><span class="work-group-data">{{group.data.length}}</span> items outstanding</div>
                    <div><span class="work-group-data">{{group.workRemaining | acFormatNumber: {minPrecision: 0, maxPrecision: 2} }}</span> hours</div>
                </div>
            </div>
            <div class="work-table-column">
                <div>
                    <div ng-repeat="group in workMonitor.groups | filter : {name: workMonitor.selectedGroup} ">
                        <div class="row work-group-header tm-clickable " ng-click="workMonitor.groupCollapse[group.name] = !workMonitor.groupCollapse[group.name]">
                            <span class="pull-left work-group-header">{{group.name}}</span>
                            <span class="pull-right">
                                {{group.data.length}} item<span ng-show="group.data.length !== 1">s</span> outstanding
                                - {{group.workRemaining |  acFormatNumber : {minPrecision: 0, maxPrecision: 2} }} hours
                            </span>
                        </div>
                        <div collapse="workMonitor.groupCollapse[group.name]">                            
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:25px;"></th>
                                        <th style="width:70px;">ID</th>
                                        <th style="width:130px;" ng-show="workMonitor.options.groupByField !== 'project'">Project</th>
                                        <th style="width:250px;" ng-show="workMonitor.options.groupByField !== 'assignee'">Assigned To</th>
                                        <th style="width:120px;" ng-show="workMonitor.options.groupByField !== 'state'">State</th>
                                        <th>Title</th>
                                        <th style="text-align:right;padding-right:10px;">Work Remaining</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in group.data" ng-click="workMonitor.openWorkItem(item)" class="tm-clickable work-workitem">
                                        <td title="{{item.type}}"><span class="work-workitem-type-icon" ng-class="item.type === 'Bug' ? 'bug': 'pbi'"></span></td>
                                        <td>{{item.workItemID}}</td>
                                        <td ng-show="workMonitor.options.groupByField !== 'project'">{{item.project}}</td>
                                        <td ng-show="workMonitor.options.groupByField !== 'assignee'">{{item.assignee}}</td>
                                        <td ng-show="workMonitor.options.groupByField !== 'state'">{{item.state}}</td>
                                        <td>{{item.title}}</td>
                                        <td style="text-align:right;padding-right:10px;">{{(item.workRemaining.development +  item.workRemaining.testing) | tmZeroToNull : acFormatNumber : {minPrecision: 0, maxPrecision: 2} }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @media all and (min-width: 1200px) {
        div.work-group-list-column {
            float: left;
            width: 275px;
            margin-right: 20px;
        }

        div.work-table-column {
            float: left;
            width: calc(100% - 275px - 20px - 5px);
        }

            div.work-table-column > div {
                display: block;
            }
    }

    @media all and (max-width: 1200px) {
        div.work-group-list-column > div {
            float: left;
            width: 275px;
            margin-right: 20px;
        }

        div.work-table-column {
            width: 100%;
        }

        div.work-group {
            height: 90px;
        }

        div.work-table-column > div {
            display: inline-block;
        }
    }

    div.work-group {
        border: 1px solid rgb(189, 180, 180);
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 10pt;
    }

        div.work-group.active,
        div.work-group:hover {
            background-color: #cbd1d7;
        }

        div.work-group > div.work-group-title {
            font-size: 13pt;
            font-weight: bold;
        }

        div.work-group > div > span.work-group-data {
            font-size: 12pt;
        }


    div.work-group-header {
        border-bottom: 1px solid black;
        margin: 5px;
        margin-bottom: 20px;
    }

    span.work-group-header {
        font-size: 16pt;
        color: black;
    }

    .work-workitem-type-icon {
        border: 4px solid black;
    }

        .work-workitem-type-icon.bug {
            border-color: rgba(255, 0, 0, 0.51);
        }

        .work-workitem-type-icon.pbi {
            border-color: rgba(23, 191, 237, 0.68);
        }

    .work-workitem:hover > td {
        background-color: antiquewhite !important;
    }

    .work-no-workitems {
        text-align: center;
        padding: 15px;
        background: rgba(211, 211, 211, 0.41);
        border-radius: 6px;
        font-size: 12pt;
    }
</style>
