<div ng-controller="home-controller">
	<style type="text/css" ng-if="home.backgroundImage">
		body {
			background: url({{home.backgroundImage}}) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	</style>
	<video ng-show="home.backgroundVideo" id="backgroundVideo" class="home-video" loop="true" autobuffer="" preload="auto" autoplay="autoplay"></video>
	<div class="home-content">
		<div class="home-module-strip" ng-show="false">
			<!--has to be styled before it can be shown-->
			<a ui-sref="home.build" class="home-module">Builds</a>
			<a ui-sref="home.work" class="home-module">Work</a>
		</div>
		<div ui-view></div>
	</div>
	<div id="footer">{{home.backgroundCopyright}}</div>
</div>

<style>
	.home-module-strip {
		margin: 15px;
	}

	.home-video {
		position: fixed; right: 0; bottom: 0;
		min-width: 100%; min-height: 100%;
		width: auto; height: auto; z-index: -100;
		/*background: url(polina.jpg) no-repeat;*/
		background-size: cover;
	}

	.home-module {
		border: 1px solid gray;
		padding: 4px;
		border-radius: 2px;
		text-decoration: none;
		z-index: 100;
	}

	.home-module:hover {
		background-color: #88bdd1;
		text-decoration: none;
	}

	.home-content * {
		z-index: 100;
	}
</style>